.filtros-home {
    background-color: var(--secondary);
    margin-bottom: 4rem;
}

.form-pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lista-republicas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-rep {
    margin: 10px;
}

.titulo{
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px var(--terceary);
    align-self: center;
}
