.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px var(--terceary);
}

.container label{
    font-size: 1.125rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--terceary);
    margin: 0.5rem;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 30%;
    box-shadow: 0px 0px 10px var(--secondary);
    border-radius: 20px;
}

.box input{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid var(--secondary);
}

.btn1{
    width: 8rem;
    height: 40px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    background-color: var(--secondary);
    text-decoration: none;
    margin: 10px;
    color: var(--white);
}


.btn1:hover{
    color: var(--terceary);
}

.erro{
    color: var(--red);
}

.botoes{
    display: flex;
    justify-content: space-around;
}