#pag-login {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    font-size: 1.2em;
    padding: 30px 0px;
}


button {
    background-color: rgb(61, 58, 235);
    border: 2px solid black;
}

button:hover {
    background-color: rgb(0, 255, 55);
}

.realizar-cadastro {
    font-size: 1.3em;
    font-weight: bold;
}

.link-cadastro {
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(61, 58, 235);
}

.link-cadastro:hover {
    color: rgb(0, 255, 55);
}