.container{
    width: 90%;
    text-align: end;
    margin: auto;
    margin-right: 30px;
}

.bv{
    text-align:start;
    font-size: 1.5rem;
    margin: 0;
    width: 20%;
}

.btn-home{
    width: 10%;
}

.teste{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn{
    margin-top: 10px;
    text-decoration: none;
}
