:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #394736;
  --secondary: #696b46;
  --terceary: #b99555;
  --red: #a8462d;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #5c584c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}